recursive-include pretalx_downstream/static *
recursive-include pretalx_downstream/templates *
exclude pretalx_downstream/locale/django.pot
recursive-include pretalx_downstream/locale *
recursive-include pretalx_downstream *.py
include Makefile
