{% extends "orga/base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load tz %}

{% block content %}

    <h2>{% trans "Set up upstream sync" %}</h2>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form layout='event' %}
        {% if last_pulled %}
            <p>
                Last automatic sync: {{ last_pulled|date:"SHORT_DATETIME_FORMAT" }}
            </p>
        {% endif %}
        <div class="submit-group panel">
            <span></span>
            <span class="d-flex flex-row-reverse">
                <button
                    type="submit" class="btn btn-success btn-lg"
                    name="action" value="save"
                >
                    <i class="fa fa-check"></i>
                    {% trans "Save" %}
                </button>
                <button
                    name="action" value="refresh"
                    type="submit" class="btn btn-info btn-lg mr-2"
                >
                    <i class="fa fa-refresh"></i>
                    {% trans "Check for new talks" %}
                </button>
            </span>
        </div>
    </form>
{% endblock %}
